# NECESSARY PARAMETERS
pdb = '../truncated.pdb'	# Local or Global position of a pdb file of the MD system that will be analyzed
traj_loc = '../Trajectories/'	# Local or Global position of the directory where trajectories are located
start = AAA		# the integer of the trajectory that will be first to be analyzed
end = BBB	 	# the integer of the trajectory that will be last to be analyzed
selection_input_filename = 'selection_list.py'
hbond_distance_max = 3.0
hbond_angle_min = 120.0

# OPTIONAL PARAMETERS
# ATOM SELECTION PARAMETERS
#alignment = 'protein and name CA and (resid 20:25 50:55 73:75 90:94 112:116 142:147 165:169 190:194 214:218 236:240 253:258 303:307)'
#solvent_resname = 'WAT'

#Wrapped = True		# THIS ANALYSIS ASSUMES THE TRAJECTORY IS WRAPPED APPROPRIATELY; IF IT ISN'T THERE MIGHT BE ERRORS IN THE NUMBER OF HBONDS BTW PROTEIN AND SUBSTRATES...

# OUTPUT PARAMETERS
#write_summary = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis
#summary_filename = 'XXX.hbond_analysis.summary'




